
<div class="card">
    <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onProductAdd()">
            <div class="form-group">
                <label for="pname">Product Name</label>
                <input type="text" id="pname" formControlName="pname" class="form-control">
            </div>
            <div class="form-group">
                <label for="pstatus">Product Status</label>
                <select formControlName="pstatus" id="pstatus" class="form-control">
                    <option value="In-Progress">In-Progress</option>
                    <option value="Dispatched">Dispatched</option>
                    <option value="Delivered">Delivered</option>
                </select>
            </div>

            <div class="form-group">
                <label for="canReturn">Product Can Return</label>
                <select formControlName="canReturns" id="canReturn" class="form-control">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    
                </select>
            </div>
            <div>
                <button 
                class="btn btn-outline-primary btn-block"
                *ngIf="!isInEditMode"
                type="submit">
                Add Product
                </button> 
                <button 
                class="btn btn-outline-primary btn-block"
                *ngIf="isInEditMode"
                type="button"
                (click)="onProductUpdate()"
                >
                Update Product
                </button> 
            </div>
        </form>
    </div>
</div>